@import "tailwindcss";

main {
    background-color: #e0e0e0;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDB608;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BBCCBB;
}